<% content_for :navbar_left do %>
  <li class="navbar-text">
    <strong class="text-large">Room Code: <%= tag.span @game.code, class: "text-uppercase text-serif" %></strong>
  </li>
<% end %>

<% content_for :navbar_right do %>
  <% unless @game.started? %>
    <li class="navbar-form">
      <%= form_tag start_games_path do %>
        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-play" title="Start Game"></i></button>
      <% end %>
    </li>
  <% end %>

  <li class="navbar-form">
    <%= form_tag leave_games_path do %>
      <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove" title="End Game"></i></button>
    <% end %>
  </li>
<% end %>

<div class="row">
  <div class="col-xs-9">
    <div id="game-content"></div>
  </div>

  <div class="col-xs-3">
    <h4><strong>Players</strong></h4>

    <ul id="players" class="list-unstyled">
    </ul>
  </div>
</div>

<%= render partial: "games/type/codelash/for_creator" %>
<%= render partial: "games/type/fibonacci/for_creator" %>

<script type="text/x-tmpl" id="tmpl-no-round">
  <h2>Play a round of:</h2>

  <%= form_tag start_rounds_path do %>
    <p>
      <button type="submit" class="btn btn-primary" name="game" value="codelash">CodeLash</button>
      <button type="submit" class="btn btn-primary" name="game" value="fibonacci">Fib-onacci</button>
    </p>
  <% end %>

  <hr />

  <h4><strong>Player Scores</strong></h4>

  <ul id="players" class="list-unstyled">
    <% @game.players.active.order(score: :desc).each do |player| %>
      <li class="text-uppercase"><strong><%= player.score %></strong> <%= player.name %></li>
    <% end %>
  </ul>
</script>

<script type="text/x-tmpl" id="tmpl-player">
  <li class="player text-uppercase" data-id="{%= o.id %}">
    {%= o.name %}
    {% if (o.roundState === "pending") { %}
      <span class="label label-warning"><i class="glyphicon glyphicon-option-horizontal"></i></span>
    {% } else if (o.roundState === "ready") { %}
      <span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
    {% } %}
  </li>
</script>

<%= javascript_tag do %>
  Game.role = "creator";
  Game.current = new Game(<%= @game.to_json.html_safe %>);

  <% @game.players.active.each do |player| %>
    Player.joined(<%= player.to_json.html_safe %>);
  <% end %>

  <% if @game.active_round? %>
    Round.current = new Round(<%= @game.current_round.to_json.html_safe %>);
  <% end %>

  Round.render();
<% end %>
