<% content_for :navbar_left do %>
  <li class="navbar-text visible-xs">
    <strong class="text-uppercase"><%= @player.name %></strong>
    <%= form_tag leave_games_path, class: "pull-right" do %>
      <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove" title="End Game"></i></button>
    <% end %>
  </li>

  <li class="navbar-text hidden-xs">
    <strong class="text-uppercase"><%= @player.name %></strong>
  </li>
<% end %>

<% content_for :navbar_right do %>
  <li class="navbar-form hidden-xs">
    <%= form_tag leave_games_path do %>
      <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove" title="End Game"></i></button>
    <% end %>
  </li>
<% end %>

<div id="game-content"></div>

<%= render partial: "games/type/codelash/for_player" %>
<%= render partial: "games/type/fibonacci/for_player" %>

<script type="text/x-tmpl" id="tmpl-no-round">
  <p class="lead">
    Please wait for the round to start
  </p>
</script>

<%= javascript_tag do %>
  Game.role = "player";
  Game.current = new Game(<%= @game.to_json.html_safe %>);
  Player.current = new Player(<%= @player.to_json.html_safe %>);

  <% if @game.active_round? %>
    Round.current = new Round(<%= @game.current_round.to_json_for_player(@player).html_safe %>);
  <% end %>

  Round.render();
<% end %>
