<p>
  Room Code: <%= tag.span @game.code, class: "text-uppercase" %>
</p>

<p>
  Player Name: <%= tag.span @player.name, class: "text-uppercase" %>
</p>

<p>
  <%= form_tag leave_games_path do %>
    <button type="submit" class="btn btn-default">Leave game</button>
  <% end %>
</p>

<%= javascript_tag do %>
  Game.current = new Game(<%= @game.to_json.html_safe %>);
  Player.current = new Player(<%= @player.to_json.html_safe %>);
<% end %>
